/OhjHa/nbproject/private/
/s2012-weso/W1-W1E01.AnotherEasyStart/target/
/s2012-weso/W1-W1E02.AsciiArtist/target/
/s2012-weso/W1-W1E03.Kampuskuoro/target/
/s2012-weso/W1-W1E08.PerusMOOC/target/
/OhjHa/dist/
/OhjHa/build/
/JavaApplication6/nbproject/private/
/JavaApplication6/build/
/Tester/nbproject/private/
/Tester/build/
/Business/nbproject/private/
/Business/build/